<div class="banner" id="banner">
  <h1>EL CAMINO WILDCATS</h1>
</div>
<nav class="top-nav">
  <h1>EC LAX</h1>
 <a href="#banner"><img src="/elcamino-logo.png" class="logo"></a>
  <a><img src="../menu-btn.png" class="menu"></a>
    <ul class="top-menu">
      <li><a href="#contact">Contact</a><div class="border-bottom"></div></li>
      <li><a href="#roster">Roster</a><div class="border-bottom"></div></li>
      <li><a href="#gallery">Gallery</a><div class="border-bottom"></div></li>
      <li><a href="#schedule">Schedule</a><div class="border-bottom"></div></li>
    </ul>
</nav>

<div id="main-wrapper">
  <%= erb :opener %>
  <%= erb :schedule %>
  <%= erb :gallery %>
  <%= erb :roster %>
  <%= erb :contact %>

</div>
