<div class="banner" id="banner">
   <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="FMRFJG42HBWFN">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  <h1>EL CAMINO WILDCATS</h1>
</div>
<nav class="top-nav" id="top-nav">
  <h1>EC LAX</h1>
 <a href="#banner"><img src="/elcamino-logo.png" class="logo"></a>
  <a><img src="../menu-btn.png" class="menu"></a>
    <ul class="top-menu">
      <li><a href="#contact">Contact</a><div class="border-bottom"></div></li>
      <li><a href="#roster">Roster</a><div class="border-bottom"></div></li>
      <li><a href="#gallery">Gallery</a><div class="border-bottom"></div></li>
      <li><a href="#schedule">Schedule</a><div class="border-bottom"></div></li>
    </ul>
</nav>

<div id="main-wrapper">
  <%= erb :opener %>
  <%= erb :schedule %>
  <%= erb :gallery %>
  <%= erb :roster %>
  <%= erb :contact %>
  <%= erb :footer %>
</div>
